.blog-img {
  max-height: 50rem;
  object-fit: cover;
  aspect-ratio: 750 / 500;
}

.blog-info {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin: 2rem 0rem 2.4rem 0rem;
}

.author-info,
.date-info {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.author-info p,
.date-info p {
  margin-bottom: 0;
  font-size: 1.6rem;
  font-style: italic;
}

.blog-icon {
  width: 2rem;
  height: 2rem;
  margin-bottom: 0;
  fill: #caa226;
}

.blog-title a {
  font-size: 2.8rem !important;
  font-weight: 600;
  line-height: 1.15;
  letter-spacing: -0.5px;
  margin-bottom: 1.2rem;
}

.blog-title a:hover {
  text-decoration: underline;
}

.blog-subtitle {
  font-size: 1.8rem;
  font-weight: 400;
  color: #777;
  margin-bottom: 2.4rem;
}

.blog-description-container,
.blog-description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  line-height: 1.5;
  font-size: 1.6rem;
  margin-bottom: 1.8rem;
}

.view-all-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.view-all-link:link,
.view-all-link:visited {
  display: inline-block;
  margin: auto;
  font-size: 1.8rem;
  font-weight: 500;
  text-align: center;
  margin-top: 3.2rem;
  border-radius: 0;
  border-bottom: 2px solid #75813d;
  transition: all 0.35s;
}

.view-all-link:hover,
.view-all-link:active {
  border-bottom: 2px solid transparent;
}
